<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591983462142-i9sfter4mcrre8ej6fmm83doja0lpjal.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591983462142-i9sfter4mcrre8ej6fmm83doja0lpjal</string>
	<key>API_KEY</key>
	<string>AIzaSyBRDe0u4hvMkzULfeBd901c1JjHn-OrKf4</string>
	<key>GCM_SENDER_ID</key>
	<string>591983462142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appMascotas</string>
	<key>PROJECT_ID</key>
	<string>basedatossprint3</string>
	<key>STORAGE_BUCKET</key>
	<string>basedatossprint3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591983462142:ios:6cc8f323fd90f47e4207af</string>
</dict>
</plist>